*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  margin: 0 auto;
  height: 100vh;
}

.loading {
  align-items: center;
  display: flex;
  justify-content: center;
}

.fade{
  animation: fadein .4s ease-in;
}

@keyframes fadein{
  from {opacity:0}
  to {opacity:1}
}